.loginbackground {
  background-color: lightblue;
}
.login {
  position: relative;
  text-align: center;
  top: 200px;
}
.loginheader {
  position: relative;
  text-align: center;
  top: 150px;
}
.loginregisterlink {
  position: inherit;
  text-align: center;
  top: 50px;
}
.logoutbutton {
  position: absolute;
  top: 10px;
  right: 10px;
}
.characterviewbackgroind {
  background-color: lightblue;
}
.username {
  position: absolute;
  text-align: left;
  top: 40px;
}
.characterheader {
  position: relative;
  text-align: center;
}
.charactercreatebutton {
  position: absolute;
  top: 30px;
  right: 150px;
  padding: 12px 12px;
}
.characterborder {
  position: relative;
  background-color: aliceblue;
  border: 1px solid black;
  top: 60px;
  padding: 20px;
}
.characterdetail {
  text-align: center;
}
.characterbutton {
  position: relative;
  padding: 8px 16px;
}
.charactercreate {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  text-align: center;
}
.textbigtext {
  font-size: xx-large;
}
.textareainput {
  width: 50%;
  height: 200px;
}
.inputarea {
  width: 20%;
  margin-right: 10px;
}
.savingthrowcontainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.savingthrowselect {
  width: 100%;
}
.skillcontainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.skillselect {
  width: 100%;
}
.buttonsoncreate {
  padding: 12px 12px;
}
