.login {
  position: relative;
  text-align: center;
  top: 200px;
}
.loginheader {
  position: relative;
  text-align: center;
  top: 150px;
}
.loginregisterlink {
  position: inherit;
  text-align: center;
  top: 50px;
}
.logoutbutton {
  position: absolute;
  top: 10px;
  right: 10px;
}
.username {
  position: absolute;
  text-align: right;
  top: 45px;
  right: 180px;
}
.characterheader {
  position: relative;
  text-align: center;
}
.charactercreatebutton {
  position: absolute;
  top: 30px;
  left: 50px;
  padding: 12px 12px;
}
.characterborder {
  position: relative;
  border: 1px solid black;
  top: 60px;
  padding: 20px;
}
.characterdetail {
  text-align: center;
}
.characterbutton {
  position: relative;
  padding: 8px 16px;
}
